body {
	background-color: #a6a6a6;
	text-align: center;
}

.logo {
	height: 200px;
	width: 200px;
	border-radius: 100%;
}

.guitarist-preview img {
	height: 250px;
	width: 250px;
	margin-top: 10px;
	margin-bottom: 10px;
}

header, footer {
	background-color: white;
}